@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  @apply bg-white font-sans text-slate-900 antialiased;
}

a {
  @apply text-jet no-underline transition-colors duration-200;
}
